pysqlite3-binary
langchain
torch
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
huggingface-hub
pypdf
llama-cpp-python
groq
pysqlite3-binary
streamlit
langchain
langchain-community
llama-parse
fastembed
chromadb==0.3.29
chroma
python-dotenv
langchain-groq
chainlit
fastembed
unstructured[md]
