langchain
torch
accelerate
sentence_transformers
streamlit_chat
streamlit
faiss-cpu
tiktoken
huggingface-hub
pypdf
llama-cpp-python
chroma
groq
streamlit
langchain
langchain-community
llama-parse
fastembed
chromadb
python-dotenv
langchain-groq
chainlit
fastembed
unstructured[md]
sqlite3 >= 3.35.0